%h1 Галлерея

- @posts.each_slice(3) do |posts_row|
  .row
    -posts_row.each do |post|
      .col-xs-6.col-md-4
        .thumbnail
          = link_to image_tag(post.image_url(:thumb).to_s), post, id: 'image', remote: true
          .caption
            %h3= post.title
            %p= post.body
            %p
              = link_to 'Посмотреть', post
              - if can? :edit, post
                = link_to 'Редактировать', edit_post_path(post)
              - if can? :delete, post
                = link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' }
-if can? :create, @post
  = link_to 'New Post', new_post_path

//modal-window
#modal_post.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        %button.close#closebtn{ aria: { hidden: true }, data: { dismiss: :modal }, type: 'button' } ×
