%p
  %b Image:
  = link_to image_tag(@post.image_url(:thumb).to_s), '#', class: 'image'
%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body
%p
  %b User:
  = @post.user_id
- if can? :edit, @post
  = link_to 'Edit', edit_post_path(@post)
  \|
= link_to 'Back', posts_path
= render 'modal'
